<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team Selection Page</title>
    <link rel="stylesheet" th:href="@{../css/navBar.css}" href="../../static/css/navBar.css">
    <link rel="stylesheet" th:href="@{../css/TeamSelect.css}" href="../../static/css/TeamSelect.css">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">
</head>
<body>
<div class="topnav">
    <a class="active" th:href="@{/home}">Home</a>
    <a th:href="@{/logout}">Logout</a>
</div>
<div class="container">
    <div class="card-box">
        <div class="title-text" >Select Team</div>
    </div>
    <div class="team-list">
        <a th:each="team : ${teamList}" class="team-item" th:href="@{/team/{teamId} (teamId = ${team.id})}">
            <div class="team-name" th:text="${team.name}">팀 이름</div>

            <div class="team-member-num">[[${team.memberNum}]]명</div>
        </a>
    </div>
</div>
</body>
</html>