<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Card Box Page</title>
    <link rel="stylesheet" th:href="@{../css/Team.css}" href="../../static/css/Team.css">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="card-box">
        <div class="team-name" th:text="${teamName}">teamName</div>
        <div class="button-container">
            <a th:if="${isManager} == true" th:href="@{/{teamId}/createTask(teamId = ${teamId})}">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                태스크 추가하기
            </a>
            <a th:if="${isManager} == true">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                매니저 권한 부여하기 (미구현)
            </a>
            <a>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                팀 나가기 (미구현)
            </a>
        </div>
        <hr>
    </div>

    <a th:each="task : ${taskList}" class="light-card-box" th:data-status="${task.status}" data-status="idle" th:href="@{/task/{teamId}/{originId} (teamId = ${teamId}, originId = ${task.originId})}">
        <div class="task-card-box">
            <div class="flex-container">
                <div class="task-name" th:text="${task.title}">제목</div>
            </div>
        </div>
    </a>
</div>


<script>
    var lightCardBoxes = document.querySelectorAll('.light-card-box');
    lightCardBoxes.forEach((lightCardBox) => {
        var status = lightCardBox.getAttribute('data-status');
        var backgroundColor = '';

        if (status === 'success') {
            backgroundColor = '#05BFDB';
        } else if (status === 'error') {
            backgroundColor = '#F45050';
        } else if (status === 'idle') {
            backgroundColor = '#F0F0F0';
        }

        lightCardBox.style.backgroundColor = backgroundColor;
    });
</script>
</body>
</html>